<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Files / <%= filePath %></h1>
  <% if (locals.files) { %>
    <p>files here</p>
  <% } %>
  <form action="/files/create" method="POST">
    <label for="file_upload">Upload File:</label>
    <input type="file" id="file_upload" name="file_upload" accept="*/*" required>
    <button type="submit">Upload</button>
  </form>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</body>
</html>